h1{
    color: white;
    font-style: oblique;
    background-color: gray
}

.Ceren-Çetin{
    background-color: aqua;
    font-style: italic;
}
#derya-kara{
    color: blue;
    font-style: italic;
}
